#fondoInicio{
    background-image: url("f4.jpg"); 
    opacity: 80%;
    background-repeat: repeat;
    background-position: center;
    position: relative;
    background-size: cover;
}

#foro1{
	float: left;
}

#foro2{
 float: left;
 margin-left: 13px;
}

#f2{
    width: 290px; 
    height: 172px;
}

#img2{
    width: 290px;
    height: 190px;
}

#img3{
    width: 290px;
    height: 190px;
}
