/*general de todas las tabletas*/
.photos {

    height: 400px;
    margin: 100px auto;
    position:relative;
}
.photos > div {
    border: 5px solid;
    border-color: cyan #444 #888 #ccc;
    float: left;
    height: 150px;
    margin: 7px;
    /*ocultar contenido*/
    overflow: hidden;
    position: relative;
    width: 300px;
    border-radius: 50px;
    transition-duration: 0.8s;
}
.photos > div img{
    width: 100%;
}
.photos > div:hover{
    z-index: 10;/*efecto*/
    transform:scale(1.8);/*agrandado*/
}